$table-l: 640px;
$table-s: 360px;

.flex-table {

	font-family: $rubik, sans-serif;

	&__section {
		display: flex;
		justify-content: center;
		height: 100vh;
		width: 100%;
		background: $table-bg;
		overflow: hidden;
	}

	&__wrapper {
		overflow: hidden;
		height: 320px;
		width: $table-l;

		@include mobile {
			width: $table-s;
		}
	}

	&__head {
		font-size: 1.28rem;
		font-weight: 400;
		color: $table-text-header;
		padding-bottom: 15px;
	}

	&__body {
		font-weight: 400;
		color: $table-text;
		background-color: $table-row-bg;
		transition: 0.25s ease;

		.row {
			position: relative;

			&:after {
				content: '';
				text-align: center;
				height: 2px;
				background: #111d29;
				width: calc(#{$table-l} - 20px);
				margin-left: 10px;

				@include mobile {
					width: calc(#{$table-s} - 10px)
				}
			}

			&:hover {
				background-color: $table-row-bg-hover;

				.column:last-of-type {
					padding: 0;
					&:after {
						color: $white;
						z-index: 50;
						content: "DELETE";
						background: $table-warning;
						display: inline-block;
						height: 100%;
						line-height: 40px;
						padding: 0 17px;
					}
				}
			}
		}

		.column {
			height: 40px;
			line-height: 40px;
			transition: 0.5s ease;

			&:last-of-type {
				text-align: right;
				cursor: pointer;
			}
		}
	}

	.row {
		transition: 0.5s ease;
	}

	.fa-trash-o {
		font-size: 1.25rem;
		color: $table-warning;
		padding-right: 8px;
		pointer-events: none;
	}

}

.flex-table-wrapper {
	max-width: $table-l;
	max-height: 314px;
	margin: 0 auto;
	overflow: hidden;

	@include mobile {
		max-width: $table-s;
	}
}
