// Colors

$table-bg: #212f3d;
$table-row-bg: #182430;
$table-row-bg-hover: #405a73;
$table-row-border: #111d29;
$table-text: #dbdbdb;
$table-text-header: #7ca4cc;
$table-confirm: #367037;
$table-warning: #f23d3d;
$white: #fff;

// Font

$rubik: "Rubik";
$font-size: 14px;

// Media queries

$mobile: 640px;
$tablet: 768px;
$desktop: 1024px;

// Main width

$main-width: 1200px;
